* {
    padding: 0;
    margin: 0;
}
body,html{
    font-weight: 200;
    font-family: 'PingFang SC','STHertiSC-Light','HelveTica-Light', Arial, sans-serif;
}
.clearfix {
    display: inline-block;
    &:after {
        content: ".";
        display: inline-block;
        height: 0;
        line-height: 0;
        clear: both;
        visibility: hidden;
    }
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(77, 85, 93)
}